.input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: var(--main-color);
}

.textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 180px;
  resize: none;
  font-family: 'Inter', sans-serif;
  transition: border-color 0.3s ease;
}

.textarea:focus {
  border-color: var(--main-color);
}
